<h1>
  polar-area-chart works!
</h1>
<div style="display: block">
  <base-chart baseChart
          [data]="polarAreaChartData"
          [labels]="polarAreaChartLabels"
          [legend]="polarAreaLegend"
          [chartType]="polarAreaChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></base-chart>
</div>