<div class="row">
    <h2>Angular 2 Charts - Line Example</h2>
</div>

<!--canvas id="myChart" width="400" height="400"></canvas-->
<h1>
  Linear Chart 
</h1>    
<div class="row">
  <div class="col-md-6">
    
        <base-chart
            class="chart"
            [datasets]="datasets"
            [labels]="labels"
            [options]="options"
            [chartType]="'line'">
         </base-chart>
  </div>
</div>



