<h1>
  radar-chart works!
</h1>
<div style="display: block">
  <base-chart baseChart
          [datasets]="radarChartData"
          [labels]="radarChartLabels"
          [chartType]="radarChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></base-chart>
</div>
