<h1>
  pie-chart!
</h1>

<div style="display: block">

  
  <base-chart baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></base-chart>
</div>
