<p>
  menu component!
</p>
<button md-icon-button [md-menu-trigger-for]="menu">
   <md-icon>more_vert</md-icon>
</button>

<md-menu #menu="mdMenu">
    <button md-menu-item (click)="selectbutton"> Button Component </button>
    <button md-menu-item (click) = "slectRadio"> Radio Component </button>
    <button md-menu-item> Help </button>
    <button md-menu-item disabled> Sign Out </button>
</md-menu>
