<h1>
  {{title}}
</h1>

<app-linear-graph></app-linear-graph>
<app-pie-chart></app-pie-chart>
<app-doughnut-chart></app-doughnut-chart>
<app-polar-area-chart></app-polar-area-chart>
<app-radar-chart></app-radar-chart>

<app-button></app-button>
<app-checkbox>Loading...</app-checkbox>
<app-sidenav></app-sidenav>
<app-menu></app-menu>
<app-progress-bar></app-progress-bar>
<app-progress-circle></app-progress-circle>