<h1>
  {{title}}
</h1>
<md-card>
    <md-checkbox>Unchecked</md-checkbox>
    <md-checkbox [checked]="true">Checked</md-checkbox>
    <md-checkbox [indeterminate]="true">Indeterminate</md-checkbox>
    <md-checkbox [disabled]="true">Disabled</md-checkbox>
</md-card>

<!--Alignment to the end -->
<md-card>
    <md-checkbox [checked]="true" align="end">
      I come after my label.
    </md-checkbox>
</md-card>

<!-- Aria label -->
<md-card>
    <md-checkbox [checked]="false" aria-label="My standalone checkbox"></md-checkbox>
</md-card>
