<h1>
  {{title}}
</h1>  
<md-sidenav-layout class="demo-sidenav-layout">
  <md-sidenav #start (open)="myinput.focus()" mode="side">
    Start Side Drawer
    <br>
    <button md-button (click)="start.close()">Close</button>
    <br>
    <nav>
      <a routerLink="/button" routerLinkActive="active">Button</a>
      <a routerLink="/checkbox" routerLinkActive="active">Checkbox</a>
    </nav>
    <br>
    <router-outlet></router-outlet>
    <button md-button (click)="end.open()">Open End Side</button>
    <br>
    <button md-button
            (click)="start.mode = (start.mode == 'push' ? 'over' : (start.mode == 'over' ? 'side' : 'push'))">Toggle Mode</button>
    <div>Mode: {{start.mode}}</div>
    <br>
    <input #myinput>
  </md-sidenav>

  <md-sidenav #end align="end">
    End Side Drawer
    <br>
    <button md-button (click)="end.close()">Close</button>
  </md-sidenav>

  <div class="demo-sidenav-content">
    <h1>My Content</h1>

    <div>
      <header>Sidenav</header>
      <button md-button (click)="start.toggle()">Toggle Start Side Drawer</button>
      <button md-button (click)="end.toggle()">Toggle End Side Drawer</button>
    </div>

    <!--button md-button>HELLO</button>
    <button md-raised-button class="md-primary">HELLO</button>
    <button md-fab class="md-accent">HI</button-->
  </div>
</md-sidenav-layout>

<h2>Content after Sidenav</h2>