<h1>
  doughnut-chart!
</h1>

<div style="display: block">
  <base-chart baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></base-chart>
</div>
